<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>Public</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
		</array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>Owner</string>
			<key>subtitle</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>Events</string>
			<key>subtitle</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>Issues</string>
			<key>subtitle</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>Readme</string>
			<key>subtitle</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>Commits</string>
			<key>subtitle</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>Pull Requests</string>
			<key>subtitle</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>Source</string>
			<key>subtitle</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
